@model ServiciosWeb.Dominio.Cliente

@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo Cliente</h2>
<hr />

<form method="post" action="@Url.Action("Nuevo","Cliente")">
   
    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Apellido</label>
        @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Edad</label>
        @Html.TextBoxFor(x => x.Edad, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Dirección</label>
        @Html.TextBoxFor(x => x.Direccion, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Fecha</label>
        @Html.TextBoxFor(x => x.FechaNac, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Enviar" />
       <a href="@Url.Action("Index","Cliente")"></a>
    </div>

</form>
